  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Posts</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-progress-bar color="primary" *ngIf="['valorBarra']" value='valorBarra'></ion-progress-bar>
  <ion-grid>
  <ion-card *ngFor="let p of postsPorPag">
      <ion-card-header>
      <ion-card-title>{{ p.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ p.body }}
      <h1>{{ p.id }}</h1>
    </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/adicionar-posts']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="carregarDados($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>